r<button type="button" name="button">Define Proprty Right</button>
<button type="button" name="button">pay</button>
<button type="button" name="button">_checkBalancesAvailable</button>
<button type="button" name="button">_checkBalancesBeneficial</button>
<button type="button" name="button">_checkBalancesDisposable</button>
<button type="button" name="button">_checkBalancesDeposit</button>
